body{
    background-image: url(/goa/road-trees-coconut-country-goa-palm-1122989-wallhere.com.jpg);
    background-repeat: no-repeat;
}
h1{
    font-family: 'Yatra One', cursive;
    color: rgb(6, 245, 97);
}